.catalog-ages {
  width: 100%;
  &__ages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 200px;
    height: 22px;
    font-weight: 700;
    font-size: 19px;
    color: #2A2A2A;
    border: none;
    background: transparent;
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 20px;
    padding: 0;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 11px;
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        display: inline-block;
        height: 0.70em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.70em;
        transition: 0.3s all;
      }
  }
  &__ages-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 200px;
    height: 22px;
    font-weight: 700;
    font-size: 19px;
    color: #2A2A2A;
    border: none;
    background: transparent;
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 20px;
    padding: 0;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 6px;
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        display: inline-block;
        height: 0.70em;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.70em;
        transition: 0.3s all;
      }
  }
  &__wrap-input {
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
    pointer-events: none;
    margin-left: 26px;
  }
  &__wrap-active {
    height: 207px;
    opacity: 1;
    transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
    pointer-events: all;
    margin-left: 26px;
  }
  &__range-age {
    margin-left: 28px;
    margin-top: 25px;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }
  &__radio {
    position: relative;
    margin-top: 9px;
  }
  &__label {
   font-size: 15px;
   color: #444;
   cursor: pointer;
   margin-left: 35px;
   padding-top: 4px;
  }
  &__label:before {
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border: 1px solid #2A2A2A;
      border-radius: 7px;
      background-color: #fff;
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 1;
      transition: background .1s linear, border .1s linear;
    }
  
  &__label:after {
    content: "";
    display: block;
    width: 13px;
    height: 14px;
    background: url('../../../icons/svgcheck.svg') no-repeat;
    background-size: 14px 11px;
    position: absolute;
    top: 9px;
    left: 3px;
    z-index: 2;
    opacity: 0;
  }
  
  &__range-age:checked + &__label:before {
    content:'';
    background: #F9A43F;
  }
  &__range-age:checked + &__label:after {
    content:'';
    opacity: 1;
  }
  &__hr {
    margin: 0px;
    margin-top: 4px;
  }
}