.more-interes {
  min-height: 579px;
  padding-bottom: 85px;
  background: #E5E5E5;
  &__title {
    font-weight: 700;
    font-size: 32px;
    color: #363636;
    text-align: center;
    margin-bottom: 15px;
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 417px;
    grid-auto-rows: 417px;
    column-gap: 15px;
    justify-content: center;
  }
  &__card {
    position: relative;
  }
  &__wrapimg {
    width: 100%;
    height: 100%;
    img {
      border-radius: 9px 9px 9px 9px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__descr {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(#2A2A2A, 0.79);
    border-radius: 0px 0px 9px 9px;
  }
  &__nameactivity {
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    margin-top: 21px;
    margin-left: 16px;
  }
  &__maindescr {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  &__button {
    display: block;
    width: 311px;
    height: 71px;
    border: 3px solid #F9A43F;
    border-radius: 9px;
    font-weight: 700;
    font-size: 23px;
    color: #2A2A2A;
    margin: 0 auto;
    margin-top: 38px;
  }
}
@media(max-width: 1199px) {
  .more-interes {
    &__wrap {
      grid-template-columns: repeat(3, 302px);
    }
  }
}
@media(max-width: 991px) {
  .more-interes {
    &__title {
      font-size: 29px;
    }
    &__wrap {
      grid-template-columns: repeat(1, 455px);
      row-gap: 15px;
    }
  }
}
@media(max-width: 767px) {
  .more-interes {
    &__title {
      font-size: 29px;
    }
    &__wrap {
      grid-template-columns: repeat(1, 455px);
      row-gap: 15px;
    }
  }
}
@media(max-width: 575px) {
  .more-interes {
    padding-bottom: 40px;
    &__title {
      font-size: 25px;
    }
    &__wrap {
      grid-template-columns: repeat(1, 295px);
      row-gap: 15px;
    }
    &__button {
      width: 215px;
      height: 53px;
      font-size: 18px;
    }
  }
}